* {
    box-sizing: border-box;
    border: 0;
    margin: 0;;
}

.header {
    padding: 20px;
    color: white;
    background-color: #080808;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header h1 {
    display: inline;
}

#Duran {
    color: gold;
}

.header div {
    padding-top: 8px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

 ul {
    list-style-type: none;
}

 ul li {
    display: inline;
    margin-left: 25px;
}

a {
    color: white;
    text-decoration: none;
}

.background {
    height: 600px;
    width: 100%;
    margin-bottom: 40px;
    background-image: url(./images/LAFC.jpg);
    background-size: cover;
    background-position: center;
}

body {
    margin-top: 50px;
    background-color: #202020;
    color: white;

}
/*this applies spacing between "Work" and "about me"*/
.about-me {
    margin-bottom: 200px;
}

.section-name {
    float: left;
    width: 25%;
    justify-content: flex-end;
    border-right: 2px solid gold;
    padding: 50px 50px 50px 150px;
}

.section-name .work{
    padding: 50px 50px 50px 600px;
    border-right: 2px 600px 600px 600px solid gold;
}

.brag {
    float: right;
    width: 75%;
    padding: 50px;
}

.section-name .work {
    float: left;
    margin-bottom: 2000px;
    padding-bottom: 2000px;
}

.work-done {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

}

.Horiseon-card {
    padding: 25px;
    transition:flex 500ms linear;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}

.Horiseon-card-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 2rem;
    color: aqua;
    outline: 2px dashed white;
    width: auto;

}

.Horiseon-card-header{
    position: relative;
    margin:-4rem 0 1.5rem 0;
    padding: .5rem 1rem;
    background-color: #202020;
    color: gold;
    border: 2px solid white;
    border-radius: 8px;
}

.card-body {
    padding: 2rem;
    transition:flex 500ms linear;
    margin-bottom: 25px;
    width: 50%;
}
.card-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: aqua;
    outline: 2px dashed white;
    width: 600px;
}

.card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: .5rem 1rem;
    background-color: #202020;
    color: gold;
    border: 2px solid white;
    border-radius: 8px;


}
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;

} 

.footer {
    align-items: center;
    height: 137px;
    float: right;
    width: 75%;
    padding: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer h1 {
    display: inline;
}

.footer div {
    padding-top: 8px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.footer a {
    align-items: center;
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

h2 {
    padding-top: 200px;
    justify-content: center;
    width: 100%;
    margin-left:800px ;
}

.Horiseon-image {
    height: 250;
    width: 100%
}

.placeholder-image{
    height: 400px;
    width: 500px;
}
