* {
    box-sizing: border-box;
    border: 0;
    margin: 0;;
}
/*all text is white*/
.header {
    padding: 20px;
    color: white;
    background-color: #080808;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*allows header to have other text in the same line*/
.header h1 {
    display: inline;
}

#Duran {
    color: gold;
}

.header div {
    padding-top: 8px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

 ul { /*not a list*/
    list-style-type: none;
}

 ul li { /*list properties are side by side*/
    display: inline;
    margin-left: 25px;
}

a { /*no text decoration on buttons*/
    color: white;
    text-decoration: none;
}

/*background color for header*/
.background {
    height: 600px;
    width: 100%;
    margin-bottom: 40px;
    background-image: url(./images/LAFC.jpg);
    background-size: cover;
    background-position: center;
}

/*body begins*/
body {
    background-color: #202020;
    color: white;

}
/*this applies spacing between "Work" and "about me"*/
.about-me {
    margin-bottom: 200px;
}
/*allows all section names to be on the left side of the page*/
.section-name {
    float: left;
    width: 25%;
    justify-content: flex-end;
    border-right: 2px solid gold;
    padding: 50px 50px 50px 150px;
}
/*about me, floats right*/
.brag {
    float: right;
    width: 75%;
    padding: 50px;
}
/*projects done*/
.work-done {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

}
/*big card/main project*/
.Horiseon-card {
    padding: 25px;
    transition:flex 500ms linear;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}
/*big card content*/
.Horiseon-card-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 2rem;
    color: aqua;
    outline: 2px dashed white;
    width: auto;

}
/*big card header*/
.Horiseon-card-header{
    position: relative;
    margin:-4rem 0 1.5rem 0;
    padding: .5rem 1rem;
    background-color: #202020;
    color: gold;
    border: 2px solid white;
    border-radius: 8px;
}
/*small cards*/
.card-body {
    padding: 2rem;
    transition:flex 500ms linear;
    margin-bottom: 25px;
    width: 50%;
}

/*small cards content*/
.card-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: aqua;
    outline: 2px dashed white;
    width: 600px;
}
/*small cards header*/
.card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: .5rem 1rem;
    background-color: #202020;
    color: gold;
    border: 2px solid white;
    border-radius: 8px;
}
/*gives the cards their properties with relation to one another*/
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;

} 
/*footer*/
.footer {
    align-items: center;
    height: 137px;
    float: right;
    width: 75%;
    padding: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer h1 {
    display: inline;
}

.footer div {
    padding-top: 8px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.footer a {
    align-items: center;
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

h2 {
    padding-top: 200px;
    justify-content: center;
    width: 100%;
    margin-left:800px ;
}
/*image size calibration*/
.Horiseon-image {
    height: 250;
    width: 100%
}

.placeholder-image{
    height: 400px;
    width: 500px;
}
